#body{
margin:0px;
padding:0px;
	
}
.blocks{
height:150px;
width:400px;
background-color:white;	
float:left;
margin:2px;


}
.logos{
height:47px;
width:47px;
float:left;
background-color:white;
margin:10px;

}

#block6{

background-color:#53D769;
	
}
#block8{

background-color:#53D769;	

}

#block14{

background-color:#5ce704;

}
#block10{

background-color:#5ce704;	

}



#block1{
height:150px;
width:400px;
background-color:white;	
float:left;
margin:2px;
}
#block4{
height:150px;
width:400px;
background-color:white;	
float:left;
}
#block3{
height:150px;
width:400px;
background-color:white;	
float:left;
}

#block2{
height:150px;
width:400px;
background-color:white;	
float:left;

}

#wrapperouter{
width:100%;
background-color:black;	
height:1600px;

}

#headercontainer{
width:800px;
height:300px;
background-color:white;

}

#gnome{
width:100px;
	height:100px;
	float:left;
}

#trouble{
width:400px;
	height:10px;
	float:right;
}
#banner{

width:800px;
height:100px;
background-color:#2C2C32;

}
#simply{
width:200px;
height:200px;
	background-color:blue;
	
}



#wrapperinner{
width:800px;
background-color:white;
height:200px;	
	
}

#bodycontainer{
width:800px;
height:900px;	
background-color:white;	
}

#footercontainer{
	
height:100px;
width:800px;
background-color:#2C2C32;	
float:clear;
	
}
#leftcolumn{
height:900px;
width:400px;
background-color:white;	
float:left;
}

#rightcolumn{
height:900px;
width:400px;
background-color:white;
	float:right;
}